@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;800&family=Sanchez&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
  font-family: Montserrat;
}

a {
  text-decoration: none;
  color: white;
}

.wrapper {
  background-color: #14161a;
  font-family: 'Montserrat';
  min-height: 100vh;
  color: white;
}

.bg {
  background: linear-gradient(181deg, rgb(2, 0, 97) 15%, rgb(97, 149, 219) 158.5%);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.carousel {
  height: 50%;
  display: flex;
  align-items: center;
}

.sol {
  display: flex;
}

.heading {
  font-weight: bold;
  margin-bottom: 20;
  font-family: "Montserrat";
}


.sidebar {
  width: 30%;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 25px;
}

@media (max-width: 992px) {
  .sidebar {
    width: 100%;
  }
}

.marketborder {
  padding-left: 25px;
  padding-bottom: 25px;
  padding-right: 25px;
  padding-top: 10px;
}

.graph {
  width: 75%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 25px;
  padding: 40px;
}

@media (max-width: 960px) {
  .graph {
    width: 100%;
    margin-top: 0;
    padding: 20px;
    padding-top: 0;
  }
}


.graphcontainer {
  width: 100%;
  overflow: hidden;
}

@media (max-width: 1000px) {
  .graphcontainer {
    flex-direction: column;
    width: 100%;
    margin-top: 0;
    overflow: auto;
    padding-top: 0;
  }
}